<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <style>
    section {
      margin-bottom: 30px;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
    }
    button {
      padding: 5px 10px;
      margin-top: 5px;
      cursor: pointer;
    }

    input,
    select {
      margin-bottom: 10px;
      padding: 5px;
      width: 200px;
    }
    label {
      display: block;
    }
  </style>
</head>

<body>
  <%- include('navigationBar/navBar') %>
    <div class="main-content">
      <h1>Welcome, <%= name %> (<%= role %>)</h1>
    </div>
</body>
</html>